name: Sync to Lab Repository

on:
  push:
    branches:
      - main  # change to 'master' if that's your default branch

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout personal repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to lab repository
        run: |
          git config user.name "Amir Asgary"
          git config user.email "mranamir@gmail.com"
          
          git remote add lab https://x-access-token:${{ secrets.LAB_REPO_TOKEN }}@github.com/soedinglab/TCRtyper.git
          
          git push lab HEAD:dev-amir --force
